@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  -webkit-tap-highlight-color: transparent;
}

body {
  @apply bg-brand-50 text-slate-800 antialiased dark:bg-slate-950 dark:text-slate-100;
}

.dark {
  color-scheme: dark;
}

input[type='color'] {
  appearance: none;
  -webkit-appearance: none;
}
